## Video and Exercise Review (Practice)

### Python Types and Sequences

In [1]:
# What would be an appropriate slice to get the name "Christopher" from the string "Dr. Christopher Brooks"?
x = 'Dr. Christopher Brooks'

print(x[x.index('C'):x.index('C')+len('Christopher')])

Christopher

### Data Files & Summary Stats

In [2]:
import csv
%precision 2

with open('datasets/mpg.csv') as csvf:
    mpg = list(csv.DictReader(csvf))

print(len(mpg))
print(mpg[:2])

234
[{'': '1', 'manufacturer': 'audi', 'model': 'a4', 'displ': '1.8', 'year': '1999', 'cyl': '4', 'trans': 'auto(l5)', 'drv': 'f', 'cty': '18', 'hwy': '29', 'fl': 'p', 'class': 'compact'}, {'': '2', 'manufacturer': 'audi', 'model': 'a4', 'displ': '1.8', 'year': '1999', 'cyl': '4', 'trans': 'manual(m5)', 'drv': 'f', 'cty': '21', 'hwy': '29', 'fl': 'p', 'class': 'compact'}]

In [7]:
# Suppose we want to find the average city MPG across all cars in our CSV file
city_mpg_avg = sum([int(x['cty']) for x in mpg])/len(mpg)
city_mpg_avg

16.86

* Say we want to know what the average city MPG is grouped by the number of cylinders a car has.

In [21]:
unique_cyls = set([x['cyl'] for x in mpg])

In [31]:
from collections import Counter
data = [{'a':1, 'b':3}, {'a':1, 'c':1}, {'b':1, 'c':1}, {'a':1, 'c':1}, {'a':1, 'd':1}]
counter = dict(sum((Counter(d) for d in data[1:]), Counter(data[0])))
counter

{'a': 4, 'b': 4, 'c': 3, 'd': 1}

In [16]:
# We can use the counter object to count the unique total amount of values for all values of a key, in our case the cylinderkey
cylinder_counts = dict(Counter(x['cyl'] for x in mpg))
cylinder_counts

{'4': 81, '6': 79, '8': 70, '5': 4}

In [47]:
cyl_city_mpg_totals = {}
for key in cylinder_counts.keys():
    cyl_city_mpg_totals[key] = []
    for vehicle in mpg:
        if vehicle['cyl'] == key:
            cyl_city_mpg_totals[key].append(int(vehicle['cty']))

# Can quickly validate that all cylinders have the same count as above
print({key: len(value) for key, value in cyl_city_mpg_totals.items()})

{'4': 81, '6': 79, '8': 70, '5': 4}

In [48]:
cyl_city_mpg_avgs = {key: sum(value)/len(value) for key, value in cyl_city_mpg_totals.items()}
cyl_city_mpg_avgs

{'4': 21.01, '6': 16.22, '8': 12.57, '5': 20.50}

In [51]:
# sort dictionary by cylinder key
from collections import OrderedDict
ordered_cyl_dict = OrderedDict(sorted(cyl_city_mpg_avgs.items()))
# Type ordered Dict so changed type
dict(ordered_cyl_dict)

{'4': 21.01, '5': 20.50, '6': 16.22, '8': 12.57}

* HwyMpgBy Class

In [60]:
# Get all unique values with set calls on all retuned
vehicle_class = set(d['class'] for d in mpg)


hwy_mpg_by_class = []
for t in vehicle_class:
    # Counter and sum variables to set/increment for each found instance of the vehicle class 
    summpg = 0
    vclasscount = 0
    # iterate through primary object (w/data)
    for d in mpg:
        if d['class'] == t:
            # add to outer loop variable and increase count for each found object of right class
            summpg += float(d['hwy'])
            vclasscount += 1
    # Now once out of iterating over primary object, insert vehicle class details
    hwy_mpg_by_class.append((t, round(summpg/vclasscount, 2), 
                             "{} class has an average of {}/mpg on the hwy".format(t, round(summpg/vclasscount, 2))))
    
    
hwy_mpg_by_class

[('midsize', 27.29, 'midsize class has an average of 27.29/mpg on the hwy'),
 ('minivan', 22.36, 'minivan class has an average of 22.36/mpg on the hwy'),
 ('compact', 28.30, 'compact class has an average of 28.3/mpg on the hwy'),
 ('pickup', 16.88, 'pickup class has an average of 16.88/mpg on the hwy'),
 ('suv', 18.13, 'suv class has an average of 18.13/mpg on the hwy'),
 ('subcompact',
  28.14,
  'subcompact class has an average of 28.14/mpg on the hwy'),
 ('2seater', 24.80, '2seater class has an average of 24.8/mpg on the hwy')]

### Object and map()

In [64]:
class Person:
    department = 'AFC Club'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [65]:
person = Person()
person.set_name('Thomas Daniels')
person.set_location('N5 : North London')
print("{} lives in {} and works for {}".format(person.name, person.location, person.department))

Thomas Daniels lives in N5 : North London and works for AFC Club

In [71]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.3, 2.51]
cheapest = map(min, store1, store2)
print(cheapest)

<map object at 0x7fcb4d661700>

In [72]:
[x for x in cheapest]

[9.00, 11.00, 12.30, 2.34]

* Map generator object is lazy loading and using minimal memory as a map object, can be iterated though to look at when needed

<br>

* Here is a list of faculty teaching this MOOC. Can you write a function and apply it using map() to get a list of all faculty titles and last names (e.g. ['Dr. Brooks', 'Dr. Collins-Thompson', â€¦]) ?

In [76]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return "{} {}".format(person.split()[0], person.split()[-1])

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [77]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

* Same concept just remember map takes a function, and an iterable which will pass each index of the iterable to the function and store in a generator object, can be unpacked commonly with the list method

### Lambda & List Comprehension

In [78]:
my_function = lambda a, b, c: (a + b) * c

In [79]:
my_function(3, 2, 8)

40

In [86]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1 : note here how to instantiate the lambda with a direct call with each persons
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))
    
# option 2 : let's use a map and lambda 
list(map(split_title_and_name, people)) == list(map(lambda x: x.split()[0] + ' ' + x.split()[-1], people))

True
True
True
True

True

In [88]:
my_list = []
for i in range(0, 21):
    if i % 2 == 0:
        my_list.append(i)
my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [89]:
# Can truncate with a list comprehension
my_list_1 = [x for x in range(0, 21) if x % 2 == 0]
my_list_1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [90]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

print(times_tables())

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 0, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [96]:
print([i * j for i in range(10) for j in range(10)][:25])
print(times_tables() == [i * j for i in range(10) for j in range(10)])

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8]
True

Hereâ€™s a harder question which brings a few things together.

Many organizations have user ids which are constrained in some way. Imagine you work at an internet service provider and the user ids are all two letters followed by two numbers (e.g. aa49). Your task at such an organization might be to hold a record on the billing activity for each possible user. 

Write an initialization line as a single list comprehension which creates a list of all possible user ids. Assume the letters are all lower case.

In [104]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

# Can see how the subsequent for is treated as a nested loop 
print([a+b+c+d for a in lowercase[0:2] for b in lowercase[:5] for c in digits[0] for d in digits[:5]])

['aa00', 'aa01', 'aa02', 'aa03', 'aa04', 'ab00', 'ab01', 'ab02', 'ab03', 'ab04', 'ac00', 'ac01', 'ac02', 'ac03', 'ac04', 'ad00', 'ad01', 'ad02', 'ad03', 'ad04', 'ae00', 'ae01', 'ae02', 'ae03', 'ae04', 'ba00', 'ba01', 'ba02', 'ba03', 'ba04', 'bb00', 'bb01', 'bb02', 'bb03', 'bb04', 'bc00', 'bc01', 'bc02', 'bc03', 'bc04', 'bd00', 'bd01', 'bd02', 'bd03', 'bd04', 'be00', 'be01', 'be02', 'be03', 'be04']

#### Walk-Through One Iteration (aa00 - aa04)
* a is first letter in lowercase or a, `next` b firstletter from list chosen (also a - as pulling from same list), `next` we pull just the first digit from digits sequence/string or zero, `next` we go to d which is a sequence of the first five digits which we iterate over 5 times to make ['aa00', 'aa01', 'aa02', 'aa03', 'aa04']
* after those five digits are ruled out and we only pull one digit from c, we move back to b which is the next lettter in lowercase[1] and only goes that far with the slice, `next` we move to c which is '0' and then to d which pulls the same 5 digits and iterates 5 times to make ['ab00', 'ab01', 'ab02', 'ab03', 'ab04'] 
    * this will continue for b until it's five iterations (length of lowercase[:5]) is completed to make sequence of aa, ab, ac, ad, and ae before moving onto the second value we have for our outermost loop and a[:2]