### **Day 33: List Intersection** 
* Write a function called `inter_section` that takes two lists and finds the intersection (the elements that are present in both lists). 
* The function should return a tuple of intersections. Use list comprehension in your solution. Use the lists below. Your function should return (30, 65, 80). 
```python
list1 = [20, 30, 60, 65, 75, 80, 85] 
list2 = [ 42, 30, 80, 65, 68, 88, 95]
```

In [2]:
def inter_section(lst_1, lst_2):
    # can do a set intersection too
    return set(lst_1).intersection(set(lst_2)), [x for x in lst_1 if x in lst_2]

inter_section([20, 30, 60, 65, 75, 80, 85], [ 42, 30, 80, 65, 68, 88, 95])

({30, 65, 80}, [30, 65, 80])

#### `Extra Challenge: Set or List` 

You want to implement a code that will search for a number in a range. You have a decision to make as to whether to store the number in a set or a list. Your decision will be based on time. You have to pick a data type that executes faster.

```python
import timeit
# Testing the speed of execution in a set
speed_test = '''
a = range(1000000)
b = set(a)
i = 999999
 for i in b:
    print('')
'''
print(timeit.timeit(stmt=speed_test, number=3))


# Testing the speed of execution in a list
speed_test = '''
a = range(1000000)
b = list(a)
i = 999999
 for i in b:
    print('')
'''
print(timeit.timeit(stmt=speed_test, number=3))

```
* From the results, we can conclude that sets execute slightly faster than lists.

### **Day 34: Just Digits** 
* In this challenge, copy the text below and save it as a CSV file. 
* Save it in the same folder as your Python file. Save it as python.csv. 
* Write a function called `just_digits` that reads the text from the CSV file and returns only digit elements from the file. 
    - Your function should return 1991, 2, 200, 3, 2008 as a `list of strings`.

```python
def just_digits():
    with open('python.csv', 'r') as file:
        return file.readlines()
just_digits()
```
* so ... we'll have a bit more fun and write to a file

In [5]:
# importing the csv module
import csv
 
# field names
fields = ['Name', 'Branch', 'Year', 'CGPA']
 
# data rows of csv file
rows = [['Nikhil', 'COE', '2', '9.0'],
        ['Sanchit', 'COE', '2', '9.1'],
        ['Aditya', 'IT', '2', '9.3'],
        ['Sagar', 'SE', '1', '9.5'],
        ['Prateek', 'MCE', '3', '7.8'],
        ['Sahil', 'EP', '2', '9.1']]
 
# name of csv file
filename ="university_records.csv"
 
# writing to csv file
with open(filename,'w') as csvfile:
    # creating a csv writer object
    csvwriter = csv.writer(csvfile)
     
    # writing the fields
    csvwriter.writerow(fields)
     
    # writing the data rows
    csvwriter.writerows(rows)

* Now let's open this file

In [39]:
with open('university_records.csv', 'r') as f:
    a = f.readlines()
    print(a)
    # make a return object that we can use with a pandas dataframe
    import pandas as pd
    base_dict = {(x, i): [] for i, x in enumerate(a[0].split(','))}
    print(base_dict) # to be honest this is a bit harder, lets try lists of lists
    lst_of_lsts = [x.split(',') for x in a]
    print(lst_of_lsts)
    # Here we'll just remove the last item /n for the last value of each value before the new lince character
    lst_of_lsts = [x[:3] + [x[3][:-1]] for x in lst_of_lsts]
    print(lst_of_lsts)
    df = pd.DataFrame(lst_of_lsts[1:], columns=lst_of_lsts[0])

df

['Name,Branch,Year,CGPA\n', 'Nikhil,COE,2,9.0\n', 'Sanchit,COE,2,9.1\n', 'Aditya,IT,2,9.3\n', 'Sagar,SE,1,9.5\n', 'Prateek,MCE,3,7.8\n', 'Sahil,EP,2,9.1\n']
{('Name', 0): [], ('Branch', 1): [], ('Year', 2): [], ('CGPA\n', 3): []}
[['Name', 'Branch', 'Year', 'CGPA\n'], ['Nikhil', 'COE', '2', '9.0\n'], ['Sanchit', 'COE', '2', '9.1\n'], ['Aditya', 'IT', '2', '9.3\n'], ['Sagar', 'SE', '1', '9.5\n'], ['Prateek', 'MCE', '3', '7.8\n'], ['Sahil', 'EP', '2', '9.1\n']]
[['Name', 'Branch', 'Year', 'CGPA'], ['Nikhil', 'COE', '2', '9.0'], ['Sanchit', 'COE', '2', '9.1'], ['Aditya', 'IT', '2', '9.3'], ['Sagar', 'SE', '1', '9.5'], ['Prateek', 'MCE', '3', '7.8'], ['Sahil', 'EP', '2', '9.1']]

      Name Branch Year CGPA
0   Nikhil    COE    2  9.0
1  Sanchit    COE    2  9.1
2   Aditya     IT    2  9.3
3    Sagar     SE    1  9.5
4  Prateek    MCE    3  7.8
5    Sahil     EP    2  9.1

In [33]:
test = ['Name', 'Branch', 'Year', 'CGPA\n']
test[3], len(test[3]), test[3][:]

('CGPA\n', 5, 'CGPA\n')

In [45]:
df['Year'] = df['Year'].astype(int)
df.dtypes, df

(Name      object
 Branch    object
 Year       int64
 CGPA      object
 dtype: object,
       Name Branch  Year CGPA
 0   Nikhil    COE     2  9.0
 1  Sanchit    COE     2  9.1
 2   Aditya     IT     2  9.3
 3    Sagar     SE     1  9.5
 4  Prateek    MCE     3  7.8
 5    Sahil     EP     2  9.1)

In [46]:
# importing the csv module
import csv
 
# my data rows as dictionary objects
mydict =[{'branch':'COE', 'cgpa':'9.0',
         'name':'Nikhil', 'year':'2'},
        {'branch':'COE', 'cgpa':'9.1',
        'name':'Sanchit', 'year':'2'},
        {'branch':'IT', 'cgpa':'9.3',
        'name':'Aditya', 'year':'2'},
        {'branch':'SE', 'cgpa':'9.5',
        'name':'Sagar', 'year':'1'},
        {'branch':'MCE', 'cgpa':'7.8',
        'name':'Prateek', 'year':'3'},
        {'branch':'EP', 'cgpa':'9.1',
        'name':'Sahil', 'year':'2'}]
 
# field names
fields = ['name', 'branch', 'year', 'cgpa']
 
# name of csv file
filename ="university_records_2.csv"
 
# writing to csv file
with open(filename,'w') as csvfile:
    # creating a csv dict writer object
    writer = csv.DictWriter(csvfile, fieldnames = fields)
     
    # writing headers (field names)
    writer.writeheader()
     
    # writing data rows
    writer.writerows(mydict)

In [52]:
# lets use the reader to read a file and not just write
with open('university_records_2.csv','r') as data:
    # each line is a list with every csv as an item (no new line character)
    dframe_lsts_of_lst = []
    for line in csv.reader(data):
            dframe_lsts_of_lst.append(line)
    dframe = pd.DataFrame(dframe_lsts_of_lst[1:], columns=dframe_lsts_of_lst[0])
dframe

      name branch year cgpa
0   Nikhil    COE    2  9.0
1  Sanchit    COE    2  9.1
2   Aditya     IT    2  9.3
3    Sagar     SE    1  9.5
4  Prateek    MCE    3  7.8
5    Sahil     EP    2  9.1

### **Day 35: Pangram**  
* Write a function called `check_pangram` that takes a string and checks if it is a pangram. 
    - A pangram is a sentence that contains all the letters of the alphabet. 
* If it is a pangram, the function should return True, otherwise, it should return return False. 
* The following sentence is a pangram, so it should return True: **'the quick brown fox jumps over a lazy dog'**

In [14]:
def check_pangram(inp_str):
    alpha_set = set()
    for char in inp_str:
        if char.lower().isalpha():
            alpha_set.add(char.lower())
    print(alpha_set)
    return True if len(alpha_set) == 26 else False

In [15]:
check_pangram('The quick brown fox jumps over a lazy dog!')

{'c', 'k', 'd', 'z', 'n', 'x', 't', 'l', 'o', 'm', 'v', 'b', 'u', 'h', 'q', 'a', 'j', 'y', 'w', 'r', 'i', 'g', 'f', 'p', 's', 'e'}

True

In [11]:
check_pangram('aaah zey no')

{'o', 'a', 'y', 'z', 'n', 'h', 'e'}

False

#### `Extra Challenge: Find my Position` 
* Write a function called `find_index` that takes two arguments; **a list of integers**, and **an integer**. 
* The function should return the indexes of the integer in the list. 
* If the integer is not in the list, the function should convert all the numbers in the list into the given integer.

For example, if the list is [1, 2, 4, 6, 7, 7] and the integer is 7, your code should return [4, 5] as the indexes of 7 in the list. If the list is [1, 2, 4, 6, 7, 7] and the integer is 8, your code should return [8, 8, 8, 8, 8, 8] because 8 is not in the list.

In [34]:
def find_index(lst_ints, arg_int):
    # list(filter(lambda x, y: x == arg_int, enumerate(lst_ints))) - this doesn't work though, just using lc
    indexes = [i for i, x in enumerate(lst_ints) if x == arg_int]
    return indexes if len(indexes) >= 1 else [arg_int for x in range(len(lst_ints))]

In [35]:
find_index([1,2,4,6,7,7], 7)

[4, 5]

In [36]:
find_index([1,2,4,6,7,7], 8)

[8, 8, 8, 8, 8, 8]

### **Day 36: Count String**
Write a function called `count` that takes one argument a string, and returns a dictionary of how many times each element appears in the string. For example, 'hello' should return: {'h':1,'e': 1,'l':2, 'o':1}.

In [39]:
def count(arg_str):
    import collections
    return dict(collections.Counter(arg_str))

In [40]:
count('hello')

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [45]:
def count_str_man(arg_str):
    return_dict = {}
    for char in arg_str:
        # Using the dict method we can either get the value (first arg), set the default if not found (key)
        # Then we can simply increment by one after either getting it's value or defaulting to zero with a subsequent add
        return_dict[char] = return_dict.get(char, 0) + 1
    return return_dict

In [46]:
count_str_man('hello')

{'h': 1, 'e': 1, 'l': 2, 'o': 1}