### **Day 24: Average Calories**
* Write a function called `average_calories` that calculates the average calorie intake of a user. 
* The function should ask the user to input their calorie intake for any number of days, and once they hit "done," it should calculate and return the average intake.

In [1]:
def average_calories():
    calorie_intake = []
    while True:
        try:
            cal_value = float(input('Please enter your caloric intake numeric value : '))
            calorie_intake.append(cal_value)
            try:
                more_values = input("More values? : 'y' or 'n'").lower()
            except ValueError:
                return f'Average caloric intake from available data : {sum(calorie_intake)/len(calorie_intake)}'
            if more_values == 'y':
                continue
            else:
                return f'Average caloric intake from available data : {sum(calorie_intake)/len(calorie_intake)}'
        except ValueError as e:
            print('Please enter a valid number')
            continue

In [2]:
average_calories()

Please enter your caloric intake numeric value : 500
More values? : 'y' or 'n'exit

'Average caloric intake from available data : 500.0'

In [6]:
average_calories()

Please enter your caloric intake numeric value : yes
Please enter a valid number
Please enter your caloric intake numeric value : yes
Please enter a valid number
Please enter your caloric intake numeric value : 2800
More values? : 'y' or 'n'y
Please enter your caloric intake numeric value : 2900
More values? : 'y' or 'n'y
Please enter your caloric intake numeric value : 3100
More values? : 'y' or 'n'y
Please enter your caloric intake numeric value : 4000
More values? : 'y' or 'n'n

'Average caloric intake from available data : 3200.0'

* The function below would be ... an endless loop if one numeric value is never entered
* Nested `try/except` block would execute if valid intake is continually given as shown above
    - If on more input values you don't get a valid boolean (more or less) it will simply executed what values it has and return an average
    - `more_values` variable available in scope from successful try return which will re-enter the true while coniditon for more user_input

`Extra Challenge:`

* Create a Nested List 
* Write a function called `nested_lists` that takes any number of lists and creates a 2-dimensional nested list of lists. 
* For example, if you pass the following lists as arguments: [1, 2, 3, 5], [1, 2, 3, 4], [1, 3, 4, 5]. Your code should return: [[1, 2, 3, 5], [1, 2, 3, 4], [1, 3, 4, 5]]

In [4]:
def nested_list(*args):
    return [list for list in args]

nested_list([1,2,3,5], [1,2,3,4], [1,3,4,5])

[[1, 2, 3, 5], [1, 2, 3, 4], [1, 3, 4, 5]]

### **Day 25: All the Same**

* Write a function called `all_the_same` that takes one argument, a string, a list, or a tuple, and checks if all the elements are the same. If the elements are the same, the function should return True. If not, it should return False. 
* For example, ["Mary", "Mary", "Mary"] should return True.

In [10]:
def all_the_same(test_arg):
    # isolate first character in the argument
    if len(test_arg) <= 1:
        return 'Not long enought to check'
    else:
        first_item = test_arg[0]
        for subsequent_items in range(1, len(test_arg)):
            if test_arg[subsequent_items] != first_item:
                return False
            else:
                continue
    return True

In [11]:
all_the_same(['Mary', 'Mary', 'Mary'])

True

In [12]:
all_the_same(['Mary', 'Mary', 'mary', 'Mary'])

False

#### `Extra Challenge: Reverse a String` 
* str1 = "the love is real" 
* Write a function called `read_backwards` that takes a string as an argument and reverses it. The string above, for example, should return: "real is love the."

In [17]:
def read_backwards(sample_str):
    # split (default is white space), reverse the elements in the list, join and return
    return ' '.join(sample_str.split()[::-1])

In [18]:
read_backwards('the love is real')

'real is love the'

### **Day 26: Sort Words**
* Write a function called `sort_words` that takes a string of words as an argument, removes the whitespaces, and returns a list of letters sorted in alphabetical order. 
* Letters will be separated by commas. 
* All letters should appear once in the list. 
    - This means that you sort and remove duplicates. 
* For example, "love life" should return as ['e, f, i, l, o, v'].

In [39]:
def sort_words(str_words):
    import re
    letters = re.findall('[a-z]', str_words.lower())
    letters_no_dupes = list(set(letters))
    sorted_return = sorted(letters_no_dupes)
    print(f'Original string with potential duplicates : {letters}')
    print(f'String with no dupes : {letters_no_dupes}')
    return sorted_return

In [40]:
sort_words('love life')

Original string with potential duplicates : ['l', 'o', 'v', 'e', 'l', 'i', 'f', 'e']
String with no dupes : ['o', 'f', 'v', 'i', 'l', 'e']

['e', 'f', 'i', 'l', 'o', 'v']

#### `Extra Challenge: Length of Words`
```python
s = 'Hi my name is Richard'
```
* Write a function called `string_length` that takes a string of words (words and spaces) as argument. 
* This function should return the length of all the words in the string. 
* Return the results in the form of a dictionary. 
    - The string above should return:{'Hi': 2, 'my': 2, 'name': 4, 'is': 2, 'Richard': 7}

In [48]:
s = 'Hi, my name is Richard,'
def string_length(str_words):
    import re
    words = re.findall('\w+', str_words)
    return {x:len(x) for x in words}

In [49]:
string_length(s)

{'Hi': 2, 'my': 2, 'name': 4, 'is': 2, 'Richard': 7}

### **Day 27: Unique Numbers** 

* Write a function called `unique_numbers` that takes a list of numbers as an argument. 
* Your function is going to find all the unique numbers in the list. 
* It will then sum up the unique numbers. 
* You will calculate the difference between the sum of all the numbers in the original list and the sum of the unique numbers in the list. 
* If the difference is an even number, your function should return the original list. 
* If the difference is an odd number, your function should return a list with unique numbers only. 
* For example [1, 2, 4, 5, 6, 7, 8, 8] should return [1, 2, 4, 5, 6, 7, 8, 8].

In [58]:
def unique_numbers(lst_nums):
    sum_orig_list = sum(lst_nums)
    sum_unique_lst_numbs = sum(list(set(lst_nums)))
    # using parentheses allowed to the if to evaluate
    if (sum_orig_list - sum_unique_lst_numbs) % 2 == 0:
        return lst_nums
    else:
        return list(set(lst_nums))

In [59]:
unique_numbers([1,2,4,5,6,7,8,8])

[1, 2, 4, 5, 6, 7, 8, 8]

In [60]:
unique_numbers([1, 3, 3, 9]) # list would be 16 and 13 for respective sum (3) = else clause for unique

[1, 3, 9]

#### `Extra Challenge: Difference of Two Lists`
* Write a function called `difference` that takes two lists as arguments. 
* This function should return all the elements that are in `list a` but not in `list b` 
* and all the elements in `list b` but not in `list a`
* For example: list1 = [1, 2, 4, 5, 6] list2 = [1, 2, 5, 7, 9] should return: [4, 6, 7, 9]

In [70]:
def difference(lst_a, lst_b):
    set_a, set_b = set(lst_a), set(lst_b)
    print(set_a, set_b)
    set_a_unq = set_a.difference(set_b)
    set_b_unq = set_b.difference(set_a)
    # we can iterate and use the **extend** list method to return one set
    combined = [x for x in set_a_unq] # None type (need)
    combined.extend([x for x in set_b_unq]) # have to mutate after for values to extend (mutates object in place)
    return set_a_unq, set_b_unq, combined

In [71]:
difference([1,2,4,5,6], [1,2,5,7,9])

{1, 2, 4, 5, 6} {1, 2, 5, 7, 9}

({4, 6}, {7, 9}, [4, 6, 9, 7])