### ``Day 46: Create a DataFrame`` 
* Create a DataFrame using pandas. You are going to create a code to put the following into a DataFrame. You will use the information in the table below. Basically, you are going to recreate this table using pandas. Use the information in the table to recreate the table.

|year|title|genre|
|----|----|----|
|2009|Brothers|Drama|
|2002|Spider-Man|Sci-Fi|
|2009|WatchMen|Drama|
|2010|Inception|Sci-Fi|
|2009|Avatar|Fantasy|

In [1]:
import pandas as pd

In [2]:
movies = pd.DataFrame({
    'year': [2009, 2002, 2009, 2010, 2009],
    'title': ['Brothers', 'Spider-Man', 'WatchMen', 'Inception', 'Avatar'],
    'genre': ['Drama', 'Sci-Fi', 'Drama', 'Sci-Fi', 'Fantasy']
})
movies

   year       title    genre
0  2009    Brothers    Drama
1  2002  Spider-Man   Sci-Fi
2  2009    WatchMen    Drama
3  2010   Inception   Sci-Fi
4  2009      Avatar  Fantasy