### **Day 33: List Intersection** 
* Write a function called `inter_section` that takes two lists and finds the intersection (the elements that are present in both lists). 
* The function should return a tuple of intersections. Use list comprehension in your solution. Use the lists below. Your function should return (30, 65, 80). 
```python
list1 = [20, 30, 60, 65, 75, 80, 85] 
list2 = [ 42, 30, 80, 65, 68, 88, 95]
```

In [2]:
def inter_section(lst_1, lst_2):
    # can do a set intersection too
    return set(lst_1).intersection(set(lst_2)), [x for x in lst_1 if x in lst_2]

inter_section([20, 30, 60, 65, 75, 80, 85], [ 42, 30, 80, 65, 68, 88, 95])

({30, 65, 80}, [30, 65, 80])

#### `Extra Challenge: Set or List` 

You want to implement a code that will search for a number in a range. You have a decision to make as to whether to store the number in a set or a list. Your decision will be based on time. You have to pick a data type that executes faster.

```python
import timeit
# Testing the speed of execution in a set
speed_test = '''
a = range(1000000)
b = set(a)
i = 999999
 for i in b:
    print('')
'''
print(timeit.timeit(stmt=speed_test, number=3))


# Testing the speed of execution in a list
speed_test = '''
a = range(1000000)
b = list(a)
i = 999999
 for i in b:
    print('')
'''
print(timeit.timeit(stmt=speed_test, number=3))

```
* From the results, we can conclude that sets execute slightly faster than lists.

### **Day 34: Just Digits** 
* In this challenge, copy the text below and save it as a CSV file. 
* Save it in the same folder as your Python file. Save it as python.csv. 
* Write a function called `just_digits` that reads the text from the CSV file and returns only digit elements from the file. 
    - Your function should return 1991, 2, 200, 3, 2008 as a `list of strings`.

```python
def just_digits():
    with open('python.csv', 'r') as file:
        return file.readlines()
just_digits()
```
* so ... we'll have a bit more fun and write to a file

In [5]:
# importing the csv module
import csv
 
# field names
fields = ['Name', 'Branch', 'Year', 'CGPA']
 
# data rows of csv file
rows = [['Nikhil', 'COE', '2', '9.0'],
        ['Sanchit', 'COE', '2', '9.1'],
        ['Aditya', 'IT', '2', '9.3'],
        ['Sagar', 'SE', '1', '9.5'],
        ['Prateek', 'MCE', '3', '7.8'],
        ['Sahil', 'EP', '2', '9.1']]
 
# name of csv file
filename ="university_records.csv"
 
# writing to csv file
with open(filename,'w') as csvfile:
    # creating a csv writer object
    csvwriter = csv.writer(csvfile)
     
    # writing the fields
    csvwriter.writerow(fields)
     
    # writing the data rows
    csvwriter.writerows(rows)

* Now let's open this file

In [39]:
with open('university_records.csv', 'r') as f:
    a = f.readlines()
    print(a)
    # make a return object that we can use with a pandas dataframe
    import pandas as pd
    base_dict = {(x, i): [] for i, x in enumerate(a[0].split(','))}
    print(base_dict) # to be honest this is a bit harder, lets try lists of lists
    lst_of_lsts = [x.split(',') for x in a]
    print(lst_of_lsts)
    # Here we'll just remove the last item /n for the last value of each value before the new lince character
    lst_of_lsts = [x[:3] + [x[3][:-1]] for x in lst_of_lsts]
    print(lst_of_lsts)
    df = pd.DataFrame(lst_of_lsts[1:], columns=lst_of_lsts[0])

df

['Name,Branch,Year,CGPA\n', 'Nikhil,COE,2,9.0\n', 'Sanchit,COE,2,9.1\n', 'Aditya,IT,2,9.3\n', 'Sagar,SE,1,9.5\n', 'Prateek,MCE,3,7.8\n', 'Sahil,EP,2,9.1\n']
{('Name', 0): [], ('Branch', 1): [], ('Year', 2): [], ('CGPA\n', 3): []}
[['Name', 'Branch', 'Year', 'CGPA\n'], ['Nikhil', 'COE', '2', '9.0\n'], ['Sanchit', 'COE', '2', '9.1\n'], ['Aditya', 'IT', '2', '9.3\n'], ['Sagar', 'SE', '1', '9.5\n'], ['Prateek', 'MCE', '3', '7.8\n'], ['Sahil', 'EP', '2', '9.1\n']]
[['Name', 'Branch', 'Year', 'CGPA'], ['Nikhil', 'COE', '2', '9.0'], ['Sanchit', 'COE', '2', '9.1'], ['Aditya', 'IT', '2', '9.3'], ['Sagar', 'SE', '1', '9.5'], ['Prateek', 'MCE', '3', '7.8'], ['Sahil', 'EP', '2', '9.1']]

      Name Branch Year CGPA
0   Nikhil    COE    2  9.0
1  Sanchit    COE    2  9.1
2   Aditya     IT    2  9.3
3    Sagar     SE    1  9.5
4  Prateek    MCE    3  7.8
5    Sahil     EP    2  9.1

In [33]:
test = ['Name', 'Branch', 'Year', 'CGPA\n']
test[3], len(test[3]), test[3][:]

('CGPA\n', 5, 'CGPA\n')

In [45]:
df['Year'] = df['Year'].astype(int)
df.dtypes, df

(Name      object
 Branch    object
 Year       int64
 CGPA      object
 dtype: object,
       Name Branch  Year CGPA
 0   Nikhil    COE     2  9.0
 1  Sanchit    COE     2  9.1
 2   Aditya     IT     2  9.3
 3    Sagar     SE     1  9.5
 4  Prateek    MCE     3  7.8
 5    Sahil     EP     2  9.1)

In [46]:
# importing the csv module
import csv
 
# my data rows as dictionary objects
mydict =[{'branch':'COE', 'cgpa':'9.0',
         'name':'Nikhil', 'year':'2'},
        {'branch':'COE', 'cgpa':'9.1',
        'name':'Sanchit', 'year':'2'},
        {'branch':'IT', 'cgpa':'9.3',
        'name':'Aditya', 'year':'2'},
        {'branch':'SE', 'cgpa':'9.5',
        'name':'Sagar', 'year':'1'},
        {'branch':'MCE', 'cgpa':'7.8',
        'name':'Prateek', 'year':'3'},
        {'branch':'EP', 'cgpa':'9.1',
        'name':'Sahil', 'year':'2'}]
 
# field names
fields = ['name', 'branch', 'year', 'cgpa']
 
# name of csv file
filename ="university_records_2.csv"
 
# writing to csv file
with open(filename,'w') as csvfile:
    # creating a csv dict writer object
    writer = csv.DictWriter(csvfile, fieldnames = fields)
     
    # writing headers (field names)
    writer.writeheader()
     
    # writing data rows
    writer.writerows(mydict)

In [52]:
# lets use the reader to read a file and not just write
with open('university_records_2.csv','r') as data:
    # each line is a list with every csv as an item (no new line character)
    dframe_lsts_of_lst = []
    for line in csv.reader(data):
            dframe_lsts_of_lst.append(line)
    dframe = pd.DataFrame(dframe_lsts_of_lst[1:], columns=dframe_lsts_of_lst[0])
dframe

      name branch year cgpa
0   Nikhil    COE    2  9.0
1  Sanchit    COE    2  9.1
2   Aditya     IT    2  9.3
3    Sagar     SE    1  9.5
4  Prateek    MCE    3  7.8
5    Sahil     EP    2  9.1

### **Day 35: Pangram**  
* Write a function called `check_pangram` that takes a string and checks if it is a pangram. 
    - A pangram is a sentence that contains all the letters of the alphabet. 
* If it is a pangram, the function should return True, otherwise, it should return return False. 
* The following sentence is a pangram, so it should return True: **'the quick brown fox jumps over a lazy dog'**

In [14]:
def check_pangram(inp_str):
    alpha_set = set()
    for char in inp_str:
        if char.lower().isalpha():
            alpha_set.add(char.lower())
    print(alpha_set)
    return True if len(alpha_set) == 26 else False

In [15]:
check_pangram('The quick brown fox jumps over a lazy dog!')

{'c', 'k', 'd', 'z', 'n', 'x', 't', 'l', 'o', 'm', 'v', 'b', 'u', 'h', 'q', 'a', 'j', 'y', 'w', 'r', 'i', 'g', 'f', 'p', 's', 'e'}

True

In [11]:
check_pangram('aaah zey no')

{'o', 'a', 'y', 'z', 'n', 'h', 'e'}

False

#### `Extra Challenge: Find my Position` 
* Write a function called `find_index` that takes two arguments; **a list of integers**, and **an integer**. 
* The function should return the indexes of the integer in the list. 
* If the integer is not in the list, the function should convert all the numbers in the list into the given integer.

For example, if the list is [1, 2, 4, 6, 7, 7] and the integer is 7, your code should return [4, 5] as the indexes of 7 in the list. If the list is [1, 2, 4, 6, 7, 7] and the integer is 8, your code should return [8, 8, 8, 8, 8, 8] because 8 is not in the list.

In [34]:
def find_index(lst_ints, arg_int):
    # list(filter(lambda x, y: x == arg_int, enumerate(lst_ints))) - this doesn't work though, just using lc
    indexes = [i for i, x in enumerate(lst_ints) if x == arg_int]
    return indexes if len(indexes) >= 1 else [arg_int for x in range(len(lst_ints))]

In [35]:
find_index([1,2,4,6,7,7], 7)

[4, 5]

In [36]:
find_index([1,2,4,6,7,7], 8)

[8, 8, 8, 8, 8, 8]

### **Day 36: Count String**
Write a function called `count` that takes one argument a string, and returns a dictionary of how many times each element appears in the string. For example, 'hello' should return: {'h':1,'e': 1,'l':2, 'o':1}.

In [39]:
def count(arg_str):
    import collections
    return dict(collections.Counter(arg_str))

In [40]:
count('hello')

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [45]:
def count_str_man(arg_str):
    return_dict = {}
    for char in arg_str:
        # Using the dict method we can either get the value (first arg), set the default if not found (key)
        # Then we can simply increment by one after either getting it's value or defaulting to zero with a subsequent add
        return_dict[char] = return_dict.get(char, 0) + 1
    return return_dict

In [47]:
count_str_man('hello')

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

### **Day 37: Count the Vowels** 

* Create a function called `count_the_vowels`. 
* The function takes one argument, a string, and returns the number of vowels in the string. 
* For example, "hello" should return two (2) vowels. 
    - If a vowel appears in a string more than once, it should be counted as one. For example, "saas" should return one(1) vowel. 
* Your code should count lowercase and uppercase vowels.

In [65]:
def count_the_vowels(arg_str):
    import re
    vowel_set = re.findall(r'[(aeiou)|(AEIOU)]', arg_str)
    print(f'Total vowels in provided string : {vowel_set}')
    vowel_set = [x.lower() for x in vowel_set]
    return len(set(vowel_set)), set(vowel_set)

count_the_vowels('hello')

Total vowels in provided string : ['e', 'o']

(2, {'e', 'o'})

In [66]:
count_the_vowels('saas')

Total vowels in provided string : ['a', 'a']

(1, {'a'})

In [67]:
count_the_vowels('JerEmAya')

Total vowels in provided string : ['e', 'E', 'A', 'a']

(2, {'a', 'e'})

### **Day 38: Guess A Number**
* Write a function called `guess_a_number`. 
* The function should ask a user to guess a randomly generated number. 
* If the user guesses a higher number, the code should tell them that the guess is too high; if the user guesses a low number, the code should tell them that their guess is too low. 
    * The user should get a maximum of three(3) guesses. 
* When the user guesses right, the code should declare them a winner. After three wrong guesses, the code should declare them a loser.

In [82]:
def guess_a_number():
    import random
    random_number = random.randint(1,100)
    right_answer = False
    print('''
    You will have 3 chances to correctly guess a number between 0 and 100. A wrong guess will trigger a response
    detailing if your guess was greater or less than the randomly generated number in the stated range.
    '''
    )
    def guess_higher_lower(guesses, target):
        for guess in guesses:
            print(f'''
            This guess : {guess} was {'Higher' if  guess > target else 'Lower'} than the target number
            ''')
    while not right_answer:
        user_guesses = []
        for i in range(1, 4):
            try:
                user_guess = int(input('Please enter your guess : '))
                user_guesses.append(user_guess)
            except ValueError as e:
                print(e)
                print('You did not enter a valid whole integer')
                continue
            if user_guess != random_number:
                if i == 3:
                    return f'None of your guesses : {user_guesses}, were equal to the random value : {random_number}'
                elif i == 2:
                    print(f'Neither guess : {user_guesses} is correct')
                    guess_higher_lower(user_guesses, random_number)
                    continue
                else:
                    print(f'Your first guess : {user_guess} was incorrect')
                    guess_higher_lower(user_guesses, random_number)
                    continue
            else:
                print(f'Bullseye! : your guess, {user_guess} got the random number of : {random_number} spot on!')
                right_answer = True
                break
    return user_guesses, random_number

In [73]:
guess_a_number()

    You will have 3 chances to correctly guess a number between 0 and 100. A wrong guess will trigger a response
    detailing if your guess was greater or less than the randomly generated number in the stated range.

Please enter your guess : 8
Your first guess : 8 was incorrect

            This guess : 8 was Lower than the target number

Please enter your guess : 17
Neither guess : [8, 17] is correct

            This guess : 8 was Lower than the target number


            This guess : 17 was Lower than the target number

Please enter your guess : 37

'None of your guesses : [8, 17, 37], were equal to the random value : 50'

In [81]:
guess_a_number()

    You will have 3 chances to correctly guess a number between 0 and 100. A wrong guess will trigger a response
    detailing if your guess was greater or less than the randomly generated number in the stated range.

Please enter your guess : 8
Your first guess : 8 was incorrect

            This guess : 8 was Higher than the target number

Please enter your guess : 3
Bullseye! : your guess, 3 got the random number of : 3 spot on!

([8, 3], 3)

#### **Day 38: Sorting Extra Challenge**
* Write a nested loop that manually sorts a list in place
* This is common for a space/time complexity type interview question and can help break down some things we take for granted in the `sorted` function which commonly takes a lambda (unnamed) function that kay sort a list in ascending/descending default and use a `key` argument as such to take values in different object compositions as which to sort a sequence by

In [1]:
## Manual Selection Sort ()
list_items = [3,8,7,5,6,9]
print(f'Our list prior to the manual sorted algorithm below : {list_items}')
for i in range(0, len(list_items)):
    # next we want to gradually iterate less as the list is being sorted in place
    for j in range(0, len(list_items)-i-1):
        # if current index greater than look ahead
        if list_items[j] > list_items[j + 1]:
            temp = list_items[j]
            list_items[j] = list_items[j+1] # set left index to look ahead value
            list_items[j+1] = temp # set look ahead to index being iterated
        
print(f'Our list after the manual sorted algorithm above : {list_items}')

Our list prior to the manual sorted algorithm below : [3, 8, 7, 5, 6, 9]
Our list after the manual sorted algorithm above : [3, 5, 6, 7, 8, 9]

#### `Notes`
* Most important note here for the manual sort is the second nested iteration. 
    - Here we can see that the range function’s second argument will be moving as we move to the outer iteration “i” following iterating over the whole list in the inner loop
    
* First Iteration (outer of i = 0) [3,8,7,5,6,9] (i = 3)
    * Nested = range(0, 6 - 0 - 1) == (0, 5) == list(range(0,5)) [0,1,2,3,4]
        * lst[0] ==  3 > 8 == False next 
        * lst[1] == 8 > j[2] == 7 (8>7) == True
        * Temp = lst[j] # set temp value to iterated place
        * lst[1(j)] = lst[j+1] (8 is moved one item forward)
        * Lst[j+1] == temp (and we set the value assigned to current index in loop equal to the lookahead value which was less
    * [3,7,8,5,6,9] (First Sort)
        * lst[2] == 8 (we moved it in the last iteration) > j[3] == 5
        * Similarly this is true so we move again (Second Sort)
    * [3,7,5,8,6,9] - Second Sort
        * lst[3] == 8 (moved again in last iteration) > J[4] == 6 True
    * On the fourth iteration of nested we’d be [3,7,5,6,8,9] 
    * Lst[4] == 8 (moved in above iteration) > J[5] == 9 False
    * Last iteration for first nested run of all items would be [3,7,5,6,8,9] 
    
<br>
    
* Second Iteration (outer of i = 1)
    * Nested = range(0, 6-1-1) == (0, 4) == [0,1,2,3]
    * `Key item` here is the shrinking of the nested iteration, in the first iteration we extended to the last item and would have sorted the largest found index to the end (so in a way each nested iteration is ensuring the largest item is moved to the last item of the 1 less iteration of the nested iteration) So now on our second nested run through we only have to compare to the second to last item (the shrinking range in the second loop
    * 4 Iterations of Second Nested of [3,7,5,6,8,9] 3>7 == False, 7>5 == True (swap), 7>6 == True (swap), 7>8 == False
    * There is the four iterations and we have now set the two largest items to the end of the list [3,5,6,7,8,9]
    * So … after just two iterations of the outer loop we have successfully sorted but as we can only check one item as a time against one another we still are looking to see if any comparisons of values more than one value apart that have been sorted in previous iterations need to be sorted